:root {
  --primary: #ffd369;
  --bg: #393e46;
}

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Container */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Login Box */
.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.8rem;
}

/* Input Group */
.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 93%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group input:focus {
  border-color: var(--primary);
}

/* Login Button */
.btn-login {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
}

/* Register Link */
.register-link {
  text-align: center;
  margin-top: 1rem;
}

.register-link a {
  color: var(--primary);
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Register Container */
.register-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Register Box */
.register-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.8rem;
}

/* Input Group */
.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 93%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group input:focus {
  border-color: var(--primary);
}

/* Register Button */
.btn-register {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
}

/* Login Link */
.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: var(--primary);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
